
<div class="container">
  <div class="page-header">
    <div class="pull-right">
    <%= link_to "Update Assessment", edit_client_assessment_path(@client, @assessment), class: "btn btn-primary" %>
    <%= link_to  "Delete Assessment", client_assessment_path(@client, @assessment), method: :delete, class: "btn btn-danger",data: { confirm: "Are you sure you want to do this Alley?" }  %>
  </div>
    <h1><%= @client.name %></h1>
    <h4><%= @assessment.assessment_name %></h4>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Client List", root_path %></li>
    <li><%= link_to "Client", client_path(@client) %></li>
    <li class="active"><%= @client.assessments.name %></li>
  </ol>
    <div class="jumbotron">
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= @assessment.assessment_date %></dd>
        <dt>Overhead Sqaut</dt>
        <dd><%= @assessment.overhead_squat %></dd>
        <dt>Single Leg Squat</dt>
        <dd><%= @assessment.single_leg_squat %></dd>
        <dt>Right Hip Strength</dt>
        <dd><%= @assessment.right_hip_strength %></dd>
        <dt>Left Hip Strength</dt>
        <dd><%= @assessment.left_hip_strength %></dd>
        <dt>Shoulder Mobility</dt>
        <dd><%= @assessment.shoulder_mobility %></dd>
        <dt>Right Glute Activation</dt>
        <dd><%= @assessment.right_glute_activation %></dd>
        <dt>Left Glute Activation</dt>
        <dd><%= @assessment.left_glute_activation %></dd>
        <dt>Plank</dt>
        <dd><%= @assessment.plank %></dd>
        <dt>Right Plant</dt>
        <dd><%= @assessment.right_plank %></dd>
        <dt>Left Plank</dt>
        <dd><%= @assessment.left_plank %></dd>
        <dt>Leg Lowering</dt>
        <dd><%= @assessment.leg_lowering %></dd>
        <dt>Push Up</dt>
        <dd><%= @assessment.push_up %></dd>
        <dt>Blood Pressure</dt>
        <dd><%= @assessment.blood_pressure %></dd>
        <dt>Weight</dt>
        <dd><%= @assessment.weight %></dd>
        <dt>Height</dt>
        <dd><%= @assessment.height %></dd>
      </dl>
    </div>
  </div>
