<div class="form-horizontal">
  <%= form_for [@client, @workout] do |f| %>

  <div class="form-group">
    <%= f.label :date, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.date_field :date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.time_field :time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :workout, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :workout, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :comments, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-sm-6">
      <%= f.submit class: "btn btn-sample"%>
      <%= link_to "Cancel", client_path(@client), class: "btn btn-custom" %>
    </div>
  </div>

<% end %>
</div>
