
<div class="container">
  <div class="page-header">
    <div class="pull-right">
    <%= link_to "All #{@client.name}'s Workouts", trainer_client_workouts_path(@trainer, @client, @workout), class: "btn btn-sample" %>
    <%= link_to "Update Workout", edit_trainer_client_workout_path(@trainer, @client, @workout), class: "btn btn-sample" %>
    <%= link_to  "Delete Workout", trainer_client_workout_path(@trainer, @client, @workout), method: :delete, class: "btn btn-custom",data: { confirm: "Are you sure you want to do this Alley?" }  %>
  </div>
    <h1><%= @client.name %></h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to "Client List", root_path %></li>
    <li><%= link_to @client.name, trainer_client_path(@trainer, @client) %></li>
    <li class="active"><%= @workout.date.strftime("%m/%d/%Y") %></li>
  </ol>
    <div class="jumbotron">
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= simple_format(@workout.date.strftime("%m/%d/%Y")) %></dd>
        <dt>Time</dt>
        <dd><%= simple_format(@workout.time.strftime("%I:%M:%S %p")) %></dd>
        <dt>Workout</dt>
        <dd><%= simple_format(@workout.workout) %></dd>
        <dt>Comments</dt>
        <dd><%= simple_format(@workout.comments) %></dd>
      </dl>
    </div>
  </div>
