
<div class="container">
  <div class="page-header">
    <div class="pull-right">
    <%= link_to "Update Workout", edit_client_workout_path(@client, @workout), class: "btn btn-sample" %>
    <%= link_to  "Delete Workout", client_workout_path(@client, @workout), method: :delete, class: "btn btn-custom",data: { confirm: "Are you sure you want to do this Alley?" }  %>
  </div>
    <h1><%= @client.name %></h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to "Client List", root_path %></li>
    <li><%= link_to @client.name, client_path(@client) %></li>
    <li class="active"><%= @workout.date.strftime("%m/%d/%Y") %></li>
  </ol>
    <div class="jumbotron">
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= @workout.date %></dd>
        <dt>Time</dt>
        <dd><%= @workout.time %></dd>
        <dt>Workout</dt>
        <dd><%= @workout.workout %></dd>
        <dt>Comments</dt>
        <dd><%= @workout.comments %></dd>
      </dl>
    </div>
  </div>
