
<div class="container">
  <div class="page-header">
    <h1><%= @client.name %></h1>
  </div>

    <div class="jumbotron">
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= @workout.date %></dd>
        <dt>Time</dt>
        <dd><%= @workout.time %></dd>
        <dt>Workout</dt>
        <dd><%= @workout.workout %></dd>
        <dt>Coments</dt>
        <dd><%= @workout.coments %></dd>
      </dl>
    </div>
  </div>
