<div class="container">
  <div class="page-header">
    <div class="pull-right">
    <%= link_to "Update Client Info", edit_trainer_client_path(@trainer.id, @client), class: "btn btn-sample btn-lg" %>
    <%= link_to  "Delete Client", trainer_client_path(@trainer, @client), method: :delete, class: "btn btn-custom btn-lg",data: { confirm: "Are you sure you want to do this Alley?" }  %>

  </div>
    <h1><%= @client.name %></h1>
  </div>
  <h3>Contact Info</h3>
  <div class="jumbotron">
    <dl class="dl-horizontal">
      <dt>Phone</dt>
      <dd><%= @client.phone %></dd>
      <dt>Email</dt>
      <dd><%= mail_to @client.email %></dd>
      <dt>Emergency Contact</dt>
      <dd><%= @client.emergency_contact %></dd>
      <dt>Emergency Number</dt>
      <dd><%= @client.emergency_number %></dd>
      <dt>Additional Info</dt>
      <dd><%= @client.additional_info %></dd>
    </dl>
  </div>

  <h3>Workouts</h3>
  <div class="jumbotron">
    <div class="pull-right">
    <%= link_to "New Workout", new_trainer_client_workout_path(@trainer.id, @client.id), class: "btn btn-sample btn-lg" %>
    <%= link_to "All #{@client.name}'s Workouts", trainer_client_workouts_path(@trainer.id, @client.id), class: "btn btn-sample btn-lg" %>
  </div>
    <% @workout.each do |w| %>
      <ul>
        <li><%= link_to w.date.strftime("%m/%d/%Y"), trainer_client_workout_path(@trainer, @client, w) %></li>
      </ul>
    <% end %>
  </div>

  <h3>Assessments</h3>
  <div class="jumbotron">
    <div class="pull-right">
    <%= link_to "New Assessment", new_trainer_client_assessment_path(@trainer.id, @client.id), class: "btn btn-sample btn-lg" %>
  </div>
    <% @client.assessments.each do |a| %>
      <ul>
        <li><%= link_to a.assessment_name, trainer_client_assessment_path(@trainer, @client, a) %></li>
      </ul>
    <% end %>
  </div>

  <h3>Goals</h3>
  <div class="jumbotron">
    <div class="pull-right">
    <%= link_to "New Goal", new_trainer_client_goal_path(@trainer.id, @client.id), class: "btn btn-sample btn-lg" %>
  </div>
    <% @client.goals.each do |g| %>
      <ul>
        <li><%= link_to g.goal_name, trainer_client_goal_path(@trainer, @client, g) %></li>
      </ul>
    <% end %>
  </div>

  <h3>Food Logs</h3>
  <div class="jumbotron">
    <div class="pull-right">
    <%= link_to "New Food Log", new_trainer_client_food_log_path(@trainer.id, @client.id), class: "btn btn-sample btn-lg" %>
  </div>
    <% @food_log.each do |fl| %>
      <ul>
        <li><%= link_to fl.date.strftime("%m/%d/%Y"), client_food_log_path(@client, fl) %></li>
      </ul>
    <% end %>
  </div>


</div>
