<div class="form-horizontal">
  <%= form_for [@client, @goal] do |f| %>

  <div class="form-group">
    <%= f.label :goal_name, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :goal_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :target_date, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.date_field :target_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :goals, class: "col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :goals, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-sm-6">
      <%= f.submit class: "btn btn-primary"%>
      <%= link_to "Cancel", client_path(@client), class: "btn btn-default" %>
    </div>
  </div>

<% end %>
</div>
