 <!DOCTYPE html>
<html>
<head>
  <title>AlleyFit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />
  <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <p class="navbar-brand">
            <%=image_tag("headshot.png", class: "img-responsive")%>
            <h3><%= link_to "AlleyFit", root_path %></h3></p>
        </div>
      </nav>

<br />

<br />
    <% if flash[:notice] %>
    <div class="alert alert-info text-center" role="alert"><%= flash[:notice] %></div>
    <% end %>
    </div>
<%= yield %>

<footer>
</footer>

</body>
</html>
