 <!DOCTYPE html>
<html>
<head>
  <title>AlleyFit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br />
<br />
  <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <p class="navbar-brand">
            <%=image_tag("headshot.png", class: "img-responsive")%>
            <h3><%= link_to "AlleyFit", root_path %></h3>
            <div class="navbar-right">
              <% if current_user %>
                <%= link_to "Sign out", sign_out_path %>
              <% else %>
                <%= link_to "Sign In", sign_in_path %>
                <%= link_to "Sign Up", sign_up_path %></p>
              <% end %>
            </div>
        </div>
      </nav>
    </div>


<br />

<br />
    <% if flash[:notice] %>
    <div class="alert alert-danger text-center" role="alert"><%= flash[:notice] %></div>
    <% end %>
    </div>
<%= yield %>

<footer>
</footer>

</body>
</html>
